<html>
  <head>
    <title>API documentation</title>
    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      .cont {
        margin:0 auto;
        text-align: center;
        height: 100%;
        width: 800px;
        background-color: rgba(255, 255, 255, 0.411);
      }
      .desc {
        margin:0 auto;
        width: 700px;
        display: inline-block;
        text-align: left;
      }
      body {
        background-color:rgb(231, 244, 252);
      }
    </style>

  </head>
  <body>
      <!-- <div class="vl"></div> -->
    <div class="cont">
      <!-- <div style="display: inline-block; text-align: left;"> -->
      <div class="desc">{{ content }}</div>
  </body>
</html>